In [ ]:
print(1)
print(2)
print(3)
print(4)

In [5]:
for i in range(1, 31):
    print(i, end='👑')

1👑2👑3👑4👑5👑6👑7👑8👑9👑10👑11👑12👑13👑14👑15👑16👑17👑18👑19👑20👑21👑22👑23👑24👑25👑26👑27👑28👑29👑30👑

#### displaying a table of 2

In [6]:
for i in range(1, 11):
    print(f'2 x {i} = {2 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

```
range(10)           | 0 - 9
range(5, 10)        | 5 - 9
range(1, 10, 2)     | 1, 3, 5, 7, 9
range(10, 0, -1)    | 10, 9, 8, 7, 6, 5, 4, 3, 2, 1
```

In [1]:
for i in range(1, 100, 5):
    print(i, end=' ')

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [2]:
# reverse loop
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [4]:
veg = ['potato🥔', 'tomato🍅', 'onion🧅', 'cabbage🥬', 'carrot🥕']
for item in veg:
    print(item)

potato🥔
tomato🍅
onion🧅
cabbage🥬
carrot🥕

enumerate()

In [5]:
for item in enumerate(veg):
    print(item)

(0, 'potato🥔')
(1, 'tomato🍅')
(2, 'onion🧅')
(3, 'cabbage🥬')
(4, 'carrot🥕')

correct version of enumerate

In [8]:
for index, value in enumerate(veg):
    print(index, value)

0 potato🥔
1 tomato🍅
2 onion🧅
3 cabbage🥬
4 carrot🥕

zip

In [10]:
veg = ['potato🥔', 'tomato🍅', 'onion🧅', 'cabbage🥬', 'carrot🥕']
prices = [35, 80, 30, 15, 30]

In [15]:
# non-pythonic way
for i in range(len(veg)):
    print(f'{veg[i]} --------- 💵{prices[i]}')

potato🥔 --------- 💵35
tomato🍅 --------- 💵80
onion🧅 --------- 💵30
cabbage🥬 --------- 💵15
carrot🥕 --------- 💵30

In [16]:
# pythonic 
for v,p in zip(veg, prices):
    print(f'{v} --------- 💵{p}')

potato🥔 --------- 💵35
tomato🍅 --------- 💵80
onion🧅 --------- 💵30
cabbage🥬 --------- 💵15
carrot🥕 --------- 💵30

#### wap to print the following lists using zip
- list1 contains movie title
- list2 contains movie rating
- list3 contains movie year
- list4 contains movie director

### nested loop

In [17]:
for i in range(10):
    for i in range(10):
        print(i, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

### break and continue

In [23]:
x = [1, 2, 3, 4, 0, 0, 5]
for i in x:
    if i == 0:
        break
    print(i)

1
2
3
4

### for-else

In [24]:
x = [1, 2, 0, 3, 4, 0, 0, 5]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

In [25]:
for i in x:
    if i != 0:
        print(i)

1
2
3
4
5

In [30]:
num = 1231
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else: # else block will execute only if the for loop is not broken
    print('prime')

prime

In [31]:
for num in range(1, 100):
    if num == 1:
        continue
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [42]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print('done')

0
1
2

# while loop

In [41]:
x = 10
while x > 0:
    x -= 2
    print(x)

8
6
4
2
0

In [45]:
total = 0
while True:
    num = int(input('enter a number: '))
    if num == 0:
        break
    total += num
print(f'Total is {total}')

Total is 46

In [1]:
books = [] # empty list
while True:
    name = input('Enter book name: ')
    if name:
        books.append(name) # add item to list
    else:
        break
print("These are your books")
print(books)

These are your books
['the hero of ages', 'the final empire', 'the well of ascension', 'the way of kings', 'words of radiance']

In [ ]:
# fibonacci series