In [1]:
212

212

# operators

In [9]:
x=10
y=5

In [10]:
x+y

15

In [11]:
x-y

5

In [12]:
x*y

50

In [13]:
x/y

2.0

In [14]:
x**y

100000

In [15]:
x+=5
print(x)

15

In [16]:
z+=5

NameError: name 'z' is not defined

In [18]:
x>10

True

In [19]:
y>5

False

In [21]:
x>10

False

In [22]:
'apple'=='Apple'

False

In [23]:
"Apple"=="Apple"

True

In [24]:
x>5 and x>100

False

In [25]:
x>5 or x>100

True

In [26]:
x>5 or x>100

SyntaxError: invalid syntax (3790944846.py, line 1)

In [27]:
not x>5

False

In [28]:
x is y

False

In [29]:
x is not y

True

In [30]:
a=[1,2,3,4,5,6]

In [31]:
2 in a

True

In [32]:
10 in a

False

## formated 
## string and msg

In [33]:
l=10.5
b=6.10
area=l*b
print(area)

64.05

In [34]:
print(l,b,area)

10.5 6.1 64.05

In [35]:
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [37]:
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [38]:
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.0